<!DOCTYPE html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#">Elite Nails</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/#">Home</a></li>
                <li class="active"><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <p class="navbar-text"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;<em>Gift Certificate Available<em></em></em>
                </p>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid main-container">

        <!-- begin price list -->
        <h2><%= priceList.listType %></h2>
        <hr />

        <div class="row">
            <% priceList.categories.forEach(function(category) { %>
                <div class="col-md-4" style="float: left;">
                    <h4><%= category.categoryName %></h4>
                    <ul class="list-group">
                        <% category.items.forEach(function(item){ %>
                        <li class="list-group-item">
                            <span class="badge">
                                <%='$' + item.price %>
                            </span>
                            <%= item.itemDesc %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            <% }); %>
        </div>

    </div>
</div>

<footer class="footer">
    <p>If you like our services, please like us on...</p>
    <a href="https://www.facebook.com/pages/Elite-Nails/127457303988453"><i class="fa fa-facebook-square fa-3x facebook"
                                                                            aria-hidden="true"></i></a>
    <a href="http://www.yelp.com/biz/elite-nail-salon-willow-park"><i class="fa fa-yelp fa-3x yelp"
                                                                      aria-hidden="true"></i></a>
    <p class="copyright">&copy; 2016 <a href="http://sharonchoe.com">SHARONCHOE.COM</a> All rights reserved.</p>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
