<!DOCTYPE html lang="en">
<html>
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/header %>

<div class="container">
    <div class="container-fluid main-container section-wrap">

        <!-- begin price list -->
        <h2><%= priceList.listType %></h2>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <% priceList.categories.forEach(function(category) { %>
                    <h4><%= category.categoryName %></h4>
                    <ul class="list-group">
                        <% category.items.forEach(function(item){ %>
                        <li class="list-group-item">
                            <span class="badge">
                                <%='$' + item.price %>
                            </span>
                            <%= item.itemDesc %>
                        </li>
                        <% }); %>
                    </ul>
                <% }); %>
            </div>

            <div class="col-md-4">
                <% priceList1.categories.forEach(function(category) { %>
                    <h4><%= category.categoryName %></h4>
                    <ul class="list-group">
                        <% category.items.forEach(function(item){ %>
                        <li class="list-group-item">
                                <span class="badge">
                                    <%='$' + item.price %>
                                </span>
                            <%= item.itemDesc %>
                        </li>
                        <% }); %>
                    </ul>
                <% }); %>
            </div>

            <div class="col-md-4">
                <% priceList2.categories.forEach(function(category) { %>
                    <h4><%= category.categoryName %></h4>
                    <ul class="list-group">
                        <% category.items.forEach(function(item){ %>
                        <li class="list-group-item">
                                <span class="badge">
                                    <%='$' + item.price %>
                                </span>
                            <%= item.itemDesc %>
                        </li>
                        <% }); %>
                    </ul>
                <% }); %>
            </div>
        </div>
    </div>
</div>

    <% include partials/footer %>

</body>
</html>
